version: '3'

services:

  app:
    image: evilfreelancer/truecare24-twilio
    restart: unless-stopped
    ports:
      - 80:80
    environment:
      - TWILIO_ACCOUNT_SID=xxx
      - TWILIO_AUTH_TOKEN=xxx
      - TWILIO_NUMBER=xxx
      - TWILIO_NUMBER_ADMIN=xxx
      - TWILIO_OUTBOUND_URL=xxx
    volumes:
      - ./logs:/var/log/apache2
